<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>206300304697-8j165aqrt77jg6kqfk90mi50jqonur4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206300304697-8j165aqrt77jg6kqfk90mi50jqonur4n</string>
	<key>API_KEY</key>
	<string>AIzaSyDE63jOUfYYF6QET5CVodsonU9radWs_bs</string>
	<key>GCM_SENDER_ID</key>
	<string>206300304697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nainesh.Appointment-Lookup</string>
	<key>PROJECT_ID</key>
	<string>finaliosproject-5ceee</string>
	<key>STORAGE_BUCKET</key>
	<string>finaliosproject-5ceee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206300304697:ios:724c5926632f5c1d</string>
	<key>DATABASE_URL</key>
	<string>https://finaliosproject-5ceee.firebaseio.com</string>
</dict>
</plist>